.spaceline {
  margin-top:10px;
}

.scrabble-table {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 8px solid rgba(0,0,0,0.6);
    background-clip: content-box;
    background-color: #FAFAFA;
    min-width: 400px;
    min-height: 400px;
}

.scrabble-td {
    font-family: "Source Code Pro";
    border: 0.1em solid #FAFAFA;
    color: rgba(0, 0, 0, 1);
    background-color: #EFEBE9;
    padding: 1.2em;
    width: 3.096vw;
    font-size: 0.8vw;
    line-height: 0.8vw;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition:         all 0.3s ease-in-out;
}

.double-word {
    background-color:#FFCC5B;
    
}

.triple-word {
    background-color: #EF5350;
}

.double-letter {
    background-color: #0075C1;
}

.triple-letter {
    background-color: #328F40;
}

.star {
  background-color: grey;
}
